
    <nb-card>
        <nb-card-header>
          Kata Pengantar
        </nb-card-header>
        <nb-card-body>
            <h3>Kata Pengantar</h3>
          <ckeditor 
          [(ngModel)]="katapengantar"
          [config]="{ 
              extraPlugins: 'divarea', 
              height: '400' ,
             allowedContent: 'false'
            }"></ckeditor>
            
            <h3>Image</h3>
            <input type="file" id="imageFile" class="swal2-input" accept="image/*">
        </nb-card-body>
        <nb-card-footer>
            <button type="button" (click)="update()" class="btn btn-success">Send</button>
        </nb-card-footer>
      </nb-card>