<nb-card *ngIf="!onDetail">
    <nb-card-header>Pinjaman</nb-card-header>
    <nb-card-body>

        <ng2-smart-table [settings]="settings" [source]="source" 
        (edit)="onEdit($event)"
        (create)="onAdd($event)"
        (delete)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="onDetail">
    <nb-card-header *ngIf="onEditStatus">Edit</nb-card-header>
    <nb-card-header *ngIf="!onEditStatus">Add</nb-card-header>
    <nb-card-body>
      
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" [(ngModel)]="title" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="sequence">Sequence</label>
                <input type="text" [(ngModel)]="sequence" class="form-control" id="sequence" placeholder="Sequence">
            </div>
            <!-- <div class="form-group">
                <label for="name">Icon</label>
                <input type="text" [(ngModel)]="name" class="form-control" id="name" placeholder="Icon">
            </div> -->
            <div class="form-group">
                <label>Description</label>
                <ckeditor 
                [(ngModel)]="description"
                [config]="{ 
                    extraPlugins: 'divarea', 
                    height: '1000',
                    colorButton_enableMore: true
                  }"></ckeditor>
            </div>
            <div class="form-group">
              
                <label>Image</label>
                <input type="file" id="imageFile" class="swal2-input" accept="image/*">
            </div>
            <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            <button *ngIf="onEditStatus" type="button" class="btn btn-success" (click)="update()">Update</button>
            <button *ngIf="!onEditStatus" type="button" class="btn btn-success" (click)="add()">Add</button>
    </nb-card-body>
</nb-card>